<!DOCTYPE html>
<html>
<head>
  <title>MOBILE SELL</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="loginapp.js"></script>
	
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="login" ng-controller="logincont">


  <!-- main -->
  <main class="container">
  <div ng-controller="child">
  <h1 class="text-center">{{ OLDtoNEW }}<br><small>MOBILE SELL PORTAL</small></h1>
	</div>
    <div class="row">
      <div class="col-md-5">
        <h4>Login</h4>

        <!-- login form -->
        <form method="post" action="home.html">
          <div class="form-group">
            <input class="form-control" type="text"  name="username" placeholder="username">
          </div>

          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>

          <div class="form-group">
            <input class="btn btn-primary" type="submit" name="login" value="Login">
          </div>
        </form>
        <!-- ./login form -->
      </div>
      <div class="col-md-5">
        <h4>Sign Up</h4>

        <!-- register form -->
        <form method="post" action="home.html">
          <div class="form-group">
            <input class="form-control" ng-model="uname" type="text" name="username" placeholder="Username">
          </div>

          <div class="form-group">
            <input class="form-control" type="text" name="location" placeholder="Location">
          </div>

          <div class="form-group">
            <input class="form-control" ng-model="pass" type="password" name="password" placeholder="Password">
          </div>

          <div class="form-group">
				
			<div ng-show="passw(pass)">	
			<input  class="btn btn-success" type="submit" name="register" value="Register">
			<div>
		  
		  </div>
        </form>
        <!-- ./register form -->
      </div>
    </div>
  </main>
  <!-- ./main -->
	<p> {{ uname | lower}} </p>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>