<!DOCTYPE html>
<html>
<head>
  <title>MOBILE SELLS</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="profileapp.js"></script>


  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="fbprofile" ng-controller="profcont">

  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">MOBILE SELLS
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">HOME</a></li>
        <li><a href="profile.html">SELL</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- edit profile -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Edit buy Location</h4>
            <form method="post">
              <div class="form-group">
                <input ng-model="stats" class="form-control" type="text" name="status" placeholder="Status" value="">
              </div>

              <div class="form-group">
                <input ng-model="loc" class="form-control" type="text" name="location" placeholder="Location" value="">
              </div>

              <div class="form-group">
                <input ng-click="upd(stats)" class="btn btn-primary" type="submit" name="update_profile" value="Save">
              </div>
            </form>
          </div>
        </div>
        <!-- ./edit profile -->
      </div>
      <div class="col-md-6">
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src="img/red.jpg" class="media-object" style="width: 300px; height: 200px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading">Redmi5|3gb RAM|32gb ROM</h2>
            <p>Rs 6000</p>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->
          <div class="panel panel-default">
            <div class="panel-body">
              <p>ONLY ONE ITEM IN CART</p>
            </div>
            <div class="panel-footer">
              <span class="pull-default"><a class="text-danger" href="#">[sell Mobile]</a></span>
			                <span class="pull-default"><a class="text-danger" href="#">[delete]</a></span>

            </div>
          </div>
          <!-- ./post -->
        </div>
        <!-- ./timeline -->
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </main>
  <!-- ./main -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>